@charset "UTF-8";


    @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond&family=Sriracha&family=Vina+Sans&display=swap');

    
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&family=EB+Garamond&family=Oswald:wght@200&family=Sriracha&display=swap');

    
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&family=EB+Garamond&family=Oswald:wght@200&family=Sriracha&family=Varela+Round&display=swap');

    * {
        margin: 0px;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--cor04);
    }
    header {
        background-color: var(--cor07);
        background-image: linear-gradient( to left, var(--cor07), var(--cor05));
        min-height: 150px;
        text-align: left;
        padding-top: 40px;
    
    }
    header h1 {
        color: white;
        font-family:'Oswald';
    }
    nav {
        padding:10px;
        background-color: var(--coor04);
        box-shadow: 0px 7px 9px black;
    }
    nav > a {
        color:white;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;

    }
    nav > a:hover {
        text-decoration: underline;
        background-color: var(--coor03);
        color: var(--cor05);
        -webkit-transition: 1s;
    }
    main {
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
    }
    main h1 {
        font-family: 'Bebas Neue';
        font-size: 1.7em;
        
    }
    main h2 {
        font-family: 'Bebas Neue';
    }
    main p {
        text-indent: 15px;
        text-align: justify;
        line-height: 2em;
        font-family: 'Varela Round';
       
    }
    .ima {
        width:400px;
        border: 8px solid white;
        box-shadow: 3px 3px 3px;
    }
    .imag{
        width:550px;
        border: 8px solid white;
        box-shadow: 3px 3px 3px;
        opacity: 0s;
        transition: opacity 1s;
    }
  .imag:hover {
    opacity: 1s;
    

  }
    :root {
        --cor01: #8fd053;
        --cor02: #d6ce8b;
        --coor03: #02907d;
        --cor04:#45ba68;
        --cor05: #106a15;
        --cor06: #b6ddcf;
        --cor07: #a9f04d;
        --cor08: #00b4fc;

        --fonte-padrao: Arial, Helvetica, Verdana, sans-serif;
        --fonte-titulo: 'Vina Sans'
    }
